# Example Project

[![CircleCI](https://circleci.com/gh/pennlabs/github-project.svg?style=shield)](https://circleci.com/gh/pennlabs/github-project)
[![Coverage Status](https://codecov.io/gh/pennlabs/github-project/branch/master/graph/badge.svg)](https://codecov.io/gh/pennlabs/github-project)
